/*
The Login Screen stylesheet for CS 422 Project 2: Study Group App

This file contains the stylesheet used by the login screen.

Authors: Sawyer Christensen, Kaleo Montero
Last Modified: 05/27/2025
*/
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #25292e;
}

.usernameInputContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}

.loginButtonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 48px;
}

select {
  font-size: 1.2rem;
  border-radius: 8px;
  margin-left: 8px;
}

.button {
  font-size: 24px;
  text-decoration: underline;
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
}

.text {
  color: #fff;
  font-size: 28px;
  margin-bottom: 4px;
}